body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: white;
    background-image: url("../images/what-the-hex.png");
    background-repeat: repeat;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;  
}

.studentName {
    background-color: teal;
    color: #ffffff;
    padding: 20px;
}

section {
    background-color: #ffffff;
    margin-top: 150px;
}

.banner {
    margin-top: 65%;
}

footer {
    background-color: #666666;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: teal;
    color: #ffffff;
}

footer p {
    text-align: center;
}

